:root, [data-bs-theme=light] {
  --bs-primary: #5157d1;
  --bs-primary-rgb: 81,87,209;
  --bs-primary-text-emphasis: #202354;
  --bs-primary-bg-subtle: #DCDDF6;
  --bs-primary-border-subtle: #B9BCED;
  --bs-success: #4969dc;
  --bs-success-rgb: 73,105,220;
  --bs-success-text-emphasis: #1D2A58;
  --bs-success-bg-subtle: #DBE1F8;
  --bs-success-border-subtle: #B6C3F1;
  --bs-body-bg: #f489bc;
  --bs-body-bg-rgb: 244,137,188;
  --bs-tertiary-bg: #295e94;
  --bs-tertiary-bg-rgb: 41,94,148;
  --bs-link-color: #6642f6;
  --bs-link-color-rgb: 102,66,246;
  --bs-link-hover-color: #939eff;
  --bs-link-hover-color-rgb: 147,158,255;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5157d1;
  --bs-btn-border-color: #5157d1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #454AB2;
  --bs-btn-hover-border-color: #4146A7;
  --bs-btn-focus-shadow-rgb: 229,230,248;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4146A7;
  --bs-btn-active-border-color: #3D419D;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #5157d1;
  --bs-btn-disabled-border-color: #5157d1;
}

.btn-outline-primary {
  --bs-btn-color: #5157d1;
  --bs-btn-border-color: #5157d1;
  --bs-btn-focus-shadow-rgb: 81,87,209;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5157d1;
  --bs-btn-hover-border-color: #5157d1;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5157d1;
  --bs-btn-active-border-color: #5157d1;
  --bs-btn-disabled-color: #5157d1;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #5157d1;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #4969dc;
  --bs-btn-border-color: #4969dc;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3E59BB;
  --bs-btn-hover-border-color: #3A54B0;
  --bs-btn-focus-shadow-rgb: 228,233,250;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3A54B0;
  --bs-btn-active-border-color: #374FA5;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #4969dc;
  --bs-btn-disabled-border-color: #4969dc;
}

.btn-outline-success {
  --bs-btn-color: #4969dc;
  --bs-btn-border-color: #4969dc;
  --bs-btn-focus-shadow-rgb: 73,105,220;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4969dc;
  --bs-btn-hover-border-color: #4969dc;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4969dc;
  --bs-btn-active-border-color: #4969dc;
  --bs-btn-disabled-color: #4969dc;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #4969dc;
}

[data-bs-theme=dark] {
  --bs-success: #201a62;
  --bs-success-rgb: 32,26,98;
  --bs-success-text-emphasis: #7976A1;
  --bs-success-bg-subtle: #060514;
  --bs-success-border-subtle: #13103B;
  --bs-warning: #7cff36;
  --bs-warning-rgb: 124,255,54;
  --bs-warning-text-emphasis: #B0FF86;
  --bs-warning-bg-subtle: #19330B;
  --bs-warning-border-subtle: #4A9920;
  --bs-link-color: #2e68fd;
  --bs-link-color-rgb: 46,104,253;
  --bs-link-hover-color: #311768;
  --bs-link-hover-color-rgb: 49,23,104;
}

[data-bs-theme=dark] .btn-success, .btn-success[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #201a62;
  --bs-btn-border-color: #201a62;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1B1653;
  --bs-btn-hover-border-color: #1A154E;
  --bs-btn-focus-shadow-rgb: 222,221,231;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1A154E;
  --bs-btn-active-border-color: #18144A;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #201a62;
  --bs-btn-disabled-border-color: #201a62;
}

[data-bs-theme=dark] .btn-outline-success, .btn-outline-success[data-bs-theme=dark] {
  --bs-btn-color: #201a62;
  --bs-btn-border-color: #201a62;
  --bs-btn-focus-shadow-rgb: 32,26,98;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #201a62;
  --bs-btn-hover-border-color: #201a62;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #201a62;
  --bs-btn-active-border-color: #201a62;
  --bs-btn-disabled-color: #201a62;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #201a62;
}

[data-bs-theme=dark] .btn-warning, .btn-warning[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #7cff36;
  --bs-btn-border-color: #7cff36;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #90FF54;
  --bs-btn-hover-border-color: #89FF4A;
  --bs-btn-focus-shadow-rgb: 19,38,8;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #96FF5E;
  --bs-btn-active-border-color: #89FF4A;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #7cff36;
  --bs-btn-disabled-border-color: #7cff36;
}

[data-bs-theme=dark] .btn-outline-warning, .btn-outline-warning[data-bs-theme=dark] {
  --bs-btn-color: #7cff36;
  --bs-btn-border-color: #7cff36;
  --bs-btn-focus-shadow-rgb: 124,255,54;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #7cff36;
  --bs-btn-hover-border-color: #7cff36;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #7cff36;
  --bs-btn-active-border-color: #7cff36;
  --bs-btn-disabled-color: #7cff36;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #7cff36;
}

